/* Global stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
}

@font-face {
  font-family: 'Blox2';
  src: url('font/Blox2.ttf') format('truetype');
}

